.height-full {
  height: 100vh;
}
.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icon {
  position: absolute;
  padding: 1rem;
}
.left {
  top: 10px;
  left: 10px;
}
.right {
  bottom: 10px;
  right: 10px;
}
.winter {
  color: blue;
  background: aliceblue;
}
.summer {
  color: red;
  background: rgb(255,200,124);
}
